nav {
    color: gold;
    background: teal;
}
main{
    color: gold;
    background: teal;
}
aside{
    background: teal;
    color: gold;
}
footer{
    color:gold;
    background: teal;
}

